[Unit]
Description=nc
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/nextcolony
ExecStart=/home/nextcolony/nc.sh
SyslogIdentifier=nc
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
